/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1218d6;
    color: white;
  }
  
  /* Logo section */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  
  .logo-link span {
    margin-left: 10px;
  }
  
  /* Search Bar */
  .search-container {
    display: flex;
    align-items: center;
    width: 50%; /* Adjust for mid-length search bar */
    position: relative;
  }
  
  .search-bar {
    width: 100%;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .nav-link:hover {
    color: #f39c12;
  }
  

  .search-container {
    position: relative;
  }
  
  .suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
    padding: 5px 0;
  }
  
  .suggestion-item {
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f1f1f1;
  }
  
  .suggestion-item img {
    margin-right: 10px;
  }
  
  .suggestion-item span {
    font-size: 14px;
  }
  